$sidebar_primary_color : #2471a3
$sidebar_link_color : #000
$sidebar_link_hover_color : #fff
$sidebar_profile_image_size : 175px

.row
  display : flex
  flex-wrap : wrap
  grid-template-columns: 1fr
.sidebar
  flex : 20%
  padding: 20px
  text-align : center
  background-color : $sidebar_primary_color  
.sidebar
  .profile
    img
      width : $sidebar_profile_image_size
      border-radius : 50%
.sidebar
  .profile
    padding-bottom : 3em
.sidebar
  .profile
    i
      font-size : 1.2em
      padding : 0.2em
.sidebar
  a
    color: $sidebar_link_color
    &:hover
      color: $sidebar_link_hover_color         
.main
  flex : 80%
  padding: 20px
  display: grid
  grid-template-columns: 1fr 
  gap: 16px
  align-content: flex-start

@media (min-width: 992px) 
  .main 
    flex : 80%
    padding: 20px
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    gap: 2rem


  


